.intro__bg {
	width: 100%;
	background: linear-gradient(rgba(30, 36, 52, 0.53), rgba(30, 36, 52, 0.53));
	z-index: 1;
}

.intro {
	position: relative;
	
	display: flex;

	&__bg_img {
		position: absolute;
		z-index: 0;
		width: 100%;
		
		height: 100%;
			}


}

.intro__inner {
	padding-top: 14.3rem;
}

.intro__title {
	text-align: center;
}

.intro__title-text {
	cursor: context-menu;
	font-size: 3rem;
	font-weight: 700;
	color: $white;
}

.intro__text {
	font-size: 1.5rem;
	font-weight: 400;
	color: $white;

	margin-top: 2.5rem;
	margin-bottom: 7rem;
}

.intro__input {
	display: flex;
	flex-wrap: wrap;
}

.intro__logo-mob {
	display: none;
}

@media (max-width: 1000px) {
	.intro__logo-mob {
		display: block;
		position: absolute;
		top: 10%;
		left: 35%;
		color: $blue;
		font-size: 4rem;
		font-family: "Kaushan Script";
	}

	.intro__title-text {
		font-size: 2.5rem;
	}
}

@media (max-width: 810px) {
	.intro__title-text {
		font-size: 2.3rem;
	}
}

@media (max-width: 710px) {
	.intro__logo-mob {
		left: 31%;
	}
}

@media (max-width: 575px) {
	.intro__logo-mob {
		left: 27%;
	}
}

@media (max-width: 550px) {
	.intro__logo-mob {
		left: 23%;
	}
}

@media (max-width: 440px) {
	.intro__logo-mob {
		left: 20%;
	}

	.intro__title-text {
		font-size: 2rem;
	}
}

@media (max-width: 400px) {
	.intro__logo-mob {
		left: 18%;
	}


}