<footer class="footer">
    <div class="container">
        <div class="footer__block">
        <div class="footer__phone">Тел. +7 953 232 03 54 &nbsp |</div>
        <a class="footer__messagers"  href="https://vk.com/clean_home_vl">
            <img class="" src="../assets/images/vk_black.svg" alt=""></a>
            <div class="footer__e-mail">| &nbsp clean60home@gmail.com  &nbsp |</e-mail></div>
            <div class="footer__developer">ForLoop © 2015-2022</div>
    </div>
    </div>



</footer>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>