 <header class="header">
     <div class="container">
         <div class="header__inner" id="headerInner">
             <div class="header__logo" id="headerLogo">CleanHome</div>
             <nav class="nav" id="nav">
                 <a class="nav__linck" id="navLinck" href="#services">Услуги</a>
                 <a class="nav__linck" id="navLinck" href="#advantage">Преимущества</a>
                 <a class="nav__linck" id="navLinck" href="#calculation">Цены</a>
                 <a class="nav__linck" id="navLinck" href="#advantage">О нас</a>
                 <a class="nav__linck" id="navLinck" href="#feedback">Оставить заявку</a>
                 <a class="nav__linck  nav__linck--tdn" href="tel:+79532320354">+7 953 232 03 54</a>
         </div>
         </nav>

    <div class="container">
     <div class="wrapper">
        <button class="nav__burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <div class="nav__burgerMenu">

        <ul class="ul__burger">
             <div class="burger__logo">CleanHome</div>
            <li class="li__burger one"><a class="nav__linck" id="navLinck" href="#services">Услуги</a></li>
            <li class="li__burger"><a class="nav__linck" id="navLinck" href="#advantage">Преимущества</a></li>
            <li class="li__burger"><a class="nav__linck" id="navLinck" href="#calculation">Цены</a></li>
           <li class="li__burger"> <a class="nav__linck"  id="navLinck" href="#advantage">О нас</a></li>
            <li class="li__burger"><a class="nav__linck"  id="navLinck" href="#feedback">Оставить заявку</a></li>
            <li class="li__burger"><a class="nav__linck  nav__linck--tdn" href="">+7 953 232 03 54</a></li>
        </ul>
    </div>
</div>


     </div>
     </div>
 </header>

 <div class="container">
     <div class="wrapper">
         <button class="nav__burger">
             <span></span>
             <span></span>
             <span></span>
         </button>
     </div>
     <div class="nav__burgerMenu">

         <ul class="ul__burger">
             <div class="burger__logo">CleanHome</div>
             <li class="li__burger li__burger--one"><a class="nav__linck" id="navLinck" href="#services">Услуги</a></li>
             <li class="li__burger"><a class="nav__linck" id="navLinck" href="#advantage">Преимущества</a></li>
             <li class="li__burger"><a class="nav__linck" id="navLinck" href="#calculation">Цены</a></li>
             <li class="li__burger"> <a class="nav__linck" id="navLinck" href="#advantage">О нас</a></li>
             <li class="li__burger"><a class="nav__linck" id="navLinck" href="#feedback">Оставить заявку</a></li>
             <li class="li__burger"><a class="nav__linck  nav__linck--tdn" href="tel:+79532320354">+7 953 232 03
                     54</a>
             </li>
         </ul>
     </div>
 </div>